<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>CSS&nbsp;Animation</title>
  
</head>

<body>

  <ul style="list-style: none;">
    <li>
      <p> Yep ?</p>
    </li>
    <li>
      <!-- <router-outlet></router-outlet> -->
      <div class="div-container-between">
        <app-bubble-menu></app-bubble-menu>
      </div>
    </li>
    <li>
      <div class="div-container-between">
        <app-cube></app-cube>
      </div>
    </li>
    <li>

    </li>
    <li>

    </li>
  </ul>


  <div class="div-container-between">

  </div>

</body>

</html>