<!-- <p>bubble-menu works!</p> -->

<div class="div-container-left">
    <h1>Gilles GABET : CSS ANIMATION</h1>
</div>
<div class="navigation">
    <!-- Magic Navigation Menu Indicator using Html CSS & Javascript | Curve Outside Effects 
        css animation : https://www.youtube.com/watch?v=ArTVfdHOB-M -->
    <div>

        <ul>
            <li class="list active">
                <a [routerLink]="['/index']">
                    <!-- <span class="menu-icon"><ion-icon name="accessibility-outline"></ion-icon></span> -->
                    <span class="menu-icon"><img src="../../../../assets/icon/blue_home_house_12608.png"
                            style="width: 64px;" /></span>
                    <span class="menu-text">Home</span>
                </a>
            </li>
            <li class="list">
                <a [routerLink]="['/css/cube']">
                    <span class="menu-icon"><img src="../../../../assets/icon/blue_chartstats_until_azu_12526.png"
                            style="width: 64px;" /></span>
                    <span class="menu-text">Cube</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon"><img src="../../../../assets/icon/blue_key_locked_12546.png"
                            style="width: 64px;" /></span>
                    <span class="menu-text">Page</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon"><img src="../../../../assets/icon/Blue_search_find_12583.png"
                            style="width: 64px;" /></span>
                    <span class="menu-text">User</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon"><img src="../../../../assets/icon/blue_shutdown_poweroff__12422.png"
                            style="width: 64px;" /></span>
                    <span class="menu-text">Menu4</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>

</div>