<!-- <p>bubble-menu works!</p> -->
<div class="div-container-left">
    <h1>Gilles GABET : CSS ANIMATION</h1>
</div>
<div class="navigation">
    <!-- Magic Navigation Menu Indicator using Html CSS & Javascript | Curve Outside Effects 
        css animation : https://www.youtube.com/watch?v=ArTVfdHOB-M -->
    <ul>
        <li class="list" >
            <a [routerLink]="['/index']">
                <span class="menu-icon"><img width="64" src="../../../../assets/icon/blue_home_house_12608.png" /></span>
                <span class="menu-text">Home</span>
            </a>
        </li>
        <li class="list">
            <a [routerLink]="['/css/cube']">
                <span class="menu-icon"><img width="64" src="../../../../assets/icon/Blue_search_find_12583.png" /></span>
                <span class="menu-text">Cube</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon"><img width="64" src="../../../../assets/icon/bluefilefolder_azul_archivo_12582.png" /></span>
                <span class="menu-text">Page</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon"><img width="64" src="../../../../assets/icon/blue_user_client_person_12581.png" /></span>
                <span class="menu-text">User</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon"><img width="64" src="../../../../assets/icon/blue_game_padgame_azu_12424.png" /></span>
                <span class="menu-text">Menu4</span>
            </a>
        </li>
    </ul>

</div>