<p>cube works!</p>
<!--  -->
<div class="horizon*">

</div>

<!-- le cube -->
<a href="">
  <div class="cube cube-text">
    <!-- haut du cube -->
    <div class="cube-top">G</div>
    <!-- autour du cube -->
    <div style="vertical-align: middle;">
      <span style="--i:3">E</span> 
      <span style="--i:0">I</span>
      <span style="--i:2">L</span>
      <span style="--i:1">L</span>
    </div>
    <!-- le dessous du cube (non visible) -->
    <div class="cube-bottom">G</div>
    <!-- l'ombre du cube -->
    <div class="cube-shadow">G</div>
  </div>
</a>
