<p>cube works!</p>
<!--  -->
<div class="horizon*">

</div>

<!-- le cube -->
<div class="div-cube">
  <a href="">
    <div class="cube cube-text">
      <!-- haut du cube -->
      <div class="cube-top"></div>
      <!-- autour du cube -->
      <div>
        <span style="--i:3">F</span>
        <span style="--i:0">F</span>
        <span style="--i:2">E</span>
        <span style="--i:1">A</span>
      </div>
      <!-- le dessous du cube (non visible) -->
      <div class="cube-bottom"></div>
      <!-- l'ombre du cube -->
      <div class="cube-shadow">E</div>
    </div>
  </a>
</div>