body {
    margin: 0;
    padding: 32px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    background: #050505;
}

.horizon 
{
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#632907, #003200);
}

.div-cube {
    width: 128px;
    height: 128px;
    padding: 32px;
}

.cube 
{
    position: relative;
    // margin: 64px;
    width: 64px;
    height: 64px;
    transform-style: preserve-3d;
    // transform: rotateX(-30deg);
    animation: animate 42s linear infinite;
}
.cube div
{
    position: absolute;
    // top: -45%;
    // left: -45%;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    // text-align: center;
    // vertical-align: middle;
}
.cube div span
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background: linear-gradient(#632907,#c56a02,#c56a02, #632907);
    // rotate: 90deg;
    transform: rotateY(calc(90deg * var(--i))) translateX(0px) translateZ(32px); /* 300 / 2 = 150 */;
}

.cube-text 
{
    //
    font-family: 'Black Ops One', cursive !important;
    //text-align: center;
    vertical-align: middle;
    font-size: 48px;
    color:white;
    font-weight: 900;
    z-index: 10;
    text-shadow: 1px 1px 2px #632907, 0 0 1em #c56a02, 0 0 0.2em #323232;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}

.cube-top
{
    position: absolute;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
    transform: rotateX(90deg)  translateZ(32px);
    background: linear-gradient(#632907,#c56a02,#c56a02, #632907);
}
.cube-bottom
{
    position: absolute;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #632907;
    transform: rotateX(90deg) translateZ(-32px);
}
.cube-shadow
{
    position: absolute;
    top: inherit;
    left: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    color : #3f3733;
    // background: #ec8208;

    // width: 32px;
    // height: 32px;
    background: radial-gradient(circle at center, #c56a02 16px, #ec8208 16px, transparent 32px);
    // opacity: 0.8;
    // border-radius: 50%;
    transform: rotateX(90deg) translateZ(-64px);
}
